<div class="container">
  <div class="articles">

    <div class="article_index">
      <div class="title">
        <h2>投稿一覧</h2>
      </div>
      <div class="flex_outer">
        <% @articles.each do |article| %>
          <%= link_to article_path(article.id) do %>
            <div class="card">
              <p class="image"><%= image_tag article.get_article_image, class: "index_img", loading: 'lazy' %></p>
              <div class="caption">
                <p class="title"><%= article.title.truncate(17, omission: '..') %></p>
                <p>投稿者:<%= article.member.name %></p>
                <p>日時:<%= article.created_at.strftime('%Y/%m/%d') %></p>
                <div class="row">
                  <p>
                    <span><i class="fa-regular fa-comments"></i></span>
                    <%= article.comments.count %>
                  </p>
                  <p><span><i class="fa-solid fa-heart"></i></span>
                    <%= article.favorites.count %>
                  </p>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="paginate">
      <%= paginate @articles %>
    </div>


  </div>
</div>
