
<div class="conteiner">

    <div class="article_heading">
      <h1>記事の投稿</h1>
    </div>

    <div class="article_form">
    <%= form_with model: @article, url: articles_path(@article.id), method: :post do |f| %>
      <div class="title">
        <h4>タイトル</h4>
        <%= f.text_field :title %>
      </div>
      <div class="eyecatch">
         <h4>アイキャッチ画像</h4>
         <%= f.file_field :article_image, accept: "image/*" %>
      </div>
      <div class="tag">
          <h4>タグ</h4>
          <%= f.label "タグ (,で区切ると複数タグ登録できます)" %>
          <%= f.text_field :@article.tag_name %>
      </div>
      <div class="text">
         <%= f.text_area :text %>
      </div>

      <%= f.submit '投稿' %>

    <% end %>
    </div>

</div>


