<div class="container">
  <% if @result == [] %>

    <h3>検索結果がありません</h3>

  <% elsif @articles.present? %>

    <h3>検索結果：<%= @search_word %></h3>

    <% @articles.each do |article| %>
      <div class="search_index_card">
        <h3><%= article.title %></h3>
        <%= image_tag article.get_article_image, :size => "300x300" %>
        <%= image_tag article.member.get_profile_image, :size => "20×20" %>
        <%= article.member.name %>
        <%= article.created_at.strftime('%Y/%m/%d-%R') %>
        ♥<%= article.favorites.count %>
        コメント：<%= article.comments.count %>
      </div>
    <% end %>

  <% else %>

    <h3>検索結果がありません</h3>

  <% end %>
</div>