<div class="container">
  <div class="searches">

    <div class="search_index">
      <!--検索入力がない場合-->
      <% if @result == [] %>
        <div class="title">
          <h2>投稿名を入力してください</h2>
        </div>
      <!--検索結果の表示-->
      <% elsif @articles.present? %>
        <div class="title">
          <h2>検索結果：<%= @search_word %></h2>
        </div>
        <div class="flex_outer">
          <% @articles.each do |article| %>
            <%= link_to article_path(article.id) do %>
              <div class="card">
                <p class="image"><%= image_tag article.get_article_image, :size => "250x250" %></p>
                <div class="caption">
                  <p class="title"><%= article.title %></p>
                  <p>投稿者:<%= article.member.name %></p>
                  <p>日時:<%= article.created_at.strftime('%Y/%m/%d') %></p>
                  <div class="row">
                    <p>
                      <span><i class="fa-regular fa-comments"></i></span>
                      <%= article.comments.count %>
                    </p>
                    <p><span><i class="fa-solid fa-heart"></i></span>
                      <%= article.favorites.count %>
                    </p>
                  </div>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      <!--検索ワードが該当しない場合-->
      <% else %>
        <div class="title">
          <h2>検索結果がありません</h2>
        </div>
      <% end %>
    </div>

    <div class="paginate">
      <%= paginate @articles %>
    </div>

  </div>
</div>