<div class="container">
  <div class="article_show">
    <div class="inner">

      <div class="title">
        <h2><%= @article.title %></h2>
        <p><%= @article.created_at.strftime('%Y/%m/%d') %>&nbsp;投稿</p>
         <div class="tags">
            <% @tag.each do |tag| %>
               <label>
                  <i class="fa-solid fa-tag"></i>
                  <%= link_to tag.tag_name,  search_tag_article_path(tag.id) %>
                  <%="(#{tag.articles.count})" %>
              </label>
            <% end %>
        </div>
      </div>

      <div class="article_header">
        <div class="image">
          <%= link_to member_path(@article.member) do %>
            <P class="user_image"><%= image_tag @member.get_profile_image, :size => "100x100" %></P>
          <% end %>
        </div>
        <div class="column">
          <div class="name">
            <h4>投稿者：&nbsp;<b><%= @member.name %></b></h4>
          </div>
          <div class="article_button">
            <div class="row">
              <!--ログインユーザー以外の表示-->
              <% if @member.id != current_member.id %>
            　   <!--フォローボタン-->
                <%= render "relationships/follow_button", member: @member %>
              <!--ログインユーザーの表示  -->
              <% elsif %>
                <div class="edit_button">
                  <%= button_to "記事を編集する", edit_article_path, method: :get, class:"button" %>
                </div>
                <div class="destroy_button">
                  <%= button_to "記事を削除する", article_path(@article.id),   method: :delete, "data-confirm" => "本当に削除しますか？", class:"button" %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>

      <div class="article_body">
        <div class="eyecatch">
          <p><%= image_tag @article.get_article_image, :size => "600x600" %></p>
        </div>
        <div class="text">
          <P><%= @article.text %></P>
        </div>
      </div>

      <!--いいねボタン-->
      <div id="ajax_favorite">
        <%= render "favorites/btn", article: @article %>
      </div>
      
      <!--コメント欄-->
      <div class="comment_index">
        <% if @article.comments.exists? %>
          <h4>コメント</h4>
          <div id="ajax_comment_index">
            <%= render "comments/comment_index",article: @article, comment: @comment %>
          </div>
        <% else %>
          <div class="no_comment">
            <h4>コメントがありません</h4>
          </div>
        <% end %>
      </div>

      <div class="comment_form">
        <h4>コメント入力</h4>
        <div id="ajax_comment_form">
           <%= render "comments/comment_form", article: @article, comment: @comment %>
        </div>
      </div>

    </div>
  </div>
</div>
