<div class="container">

  <div class="article_show_title">
    <%= @article.title %>
     <%= @article.created_at.strftime('%Y/%m/%d') %>
  </div>

  <div class="contributor_status">
    <div class="row">
      <div class="right">
        <div class="contributor_image">
          <%= link_to member_path(@article.member) do %>
            <%= image_tag @member.get_profile_image, :size => "50x50" %>
          <% end %>
        </div>
        <ul>
          <li class="contributor_name">
            <%= @member.name %>
          </li>
          <li class="article_tag">
            <% @tag.each do |tag| %>
              <%= tag.tag_name %>
            <% end %>
          </li>
        </ul>
      </div>

      <div class="left">
        <ul>
          <% if @member.id != current_member.id %>
            <li class="follow_button">
              <!--未フォロー・フォロー条件分岐-->
              <% if current_member.following?(@member) %>
                <%= button_to "フォロー中", member_relationships_path(@member.id), method: :delete %>
              <% else %>
                <%= button_to "フォロー", member_relationships_path(@member.id), method: :post %>
              <% end %>
            </li>
          <% elsif %>
            <li class="article_edit_button">
              <%= button_to "記事を編集する", edit_article_path, method: :get %>
            </li>
            <li class="article_destroy_button">
              <%= button_to "記事を削除する", article_path(@article.id),   method: :delete, "data-confirm" => "本当に削除しますか？" %>
            </li>
          <% end %>
        </ul>
      </div>

    </div>
  </div>

  <div class="article_body">
    <div class="eyecatch">
      <%= image_tag @article.get_article_image, :size => "500x500" %>
    </div>
    <div class="text">
      <%= @article.text %>
    </div>
  </div>

  <div class="favorite_button">
    <% if @article.favorited_by?(current_member) %>
      <%= link_to article_favorites_path(@article), method: :delete do %>
        <button>いいね</button>
        <%= @article.favorites.count %>
      <% end %>
    <% else %>
      <%= link_to article_favorites_path(@article), method: :post do %>
        <button>いいね</button>
        <%= @article.favorites.count %>
      <% end %>
    <% end %>
  </div>

  <div class="comment_index">
    <h4>コメント</h4>
    <% @article.comments.each do |comment| %>
      <%= link_to member_path(comment.member) do %>
        <%= image_tag comment.member.get_profile_image, :size => "50x50" %>
      <% end %>
      <%= comment.member.name %>
      <%= comment.created_at.strftime('%Y/%m/%d') %>
      <%= comment.article_comment %>
      <% if comment.member.id == current_member.id %>
        <div class="comment_destroy_button">
          <%= button_to "コメント削除", article_comment_path(comment.article, comment), method: :delete %>
        </div>
      <% elsif current_member.admin? %>
        <div class="admin_comment_destroy_button">
          <%= button_to "管理者用削除", article_comment_path(comment.article, comment), method: :delete %>
        </div>
      <% end %>
    <% end %>
  </div>

  <div class="comment_form">
    <%= form_with model: [@article, @comment] do |f| %>
      <%= f.text_area :article_comment, rows: "5", cols: "50", placeholder: "コメントをここに" %>
      <%= f.submit "送信する" %>
    <% end %>
  </div>

</div>
