<div class ="container">
  <div class="top">

    <div class="ranking_index">

      <div class="title">
        <h2>人気記事</h2>
      </div>

      <!--記事カード-->
      <div class="flex_outer">
        <% @article_like_ranks.each.with_index(1) do |article, i| %>
          <%= link_to article_path(article.id) do %>
            <div class="card">
              <p class="image"><%= image_tag article.get_article_image, :size => "250x250" %></p>
               <% if i == 1 %>
                <div class="rank_icon">
                  <p><%= image_tag "rank1.png", :size => "50x50" %></p>
                </div>
              <% elsif i == 2 %>
                <div class="rank_icon">
                  <p><%= image_tag "rank2.png", :size => "50x50" %></p>
                </div>
              <% else i == 3 %>
                <div class="rank_icon">
                  <p><%= image_tag "rank3.png", :size => "50x50" %></p>
                </div>
              <% end %>
              <div class="caption">
                <p class="title"><%= article.title.truncate(17, omission: '..') %></p>
                <p>投稿者:<%= article.member.name %></p>
                <p>日時:<%= article.created_at.strftime('%Y/%m/%d') %></p>
                <div class="row">
                  <p>
                    <span><i class="fa-regular fa-comments"></i></span>
                    <%= article.comments.count %>
                  </p>
                  <p><span><i class="fa-solid fa-heart"></i></span>
                    <%= article.favorites.count %>
                  </p>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="new_index">

      <div class="title">
        <h2>新着記事</h2>
      </div>

      <!--記事カード-->
      <div class="flex_outer">
        <% @new_article.each do |article| %>
           <%= link_to article_path(article.id) do %>
            <div class="card">
              <p class="image"><%= image_tag article.get_article_image, :size => "250x250" %></p>
              <div class="caption">
                <p class="title"><%= article.title.truncate(17, omission: '..') %></p>
                <p>投稿者:<%= article.member.name %></p>
                <p>日時:<%= article.created_at.strftime('%Y/%m/%d') %></p>
                <div class="row">
                  <p>
                    <span><i class="fa-regular fa-comments"></i></span>
                    <%= article.comments.count %>
                  </p>
                  <p><span><i class="fa-solid fa-heart"></i></span>
                    <%= article.favorites.count %>
                  </p>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>

      <div class="link">
        <p><%= link_to  "すべての投稿へ", articles_path %></p>
      </div>
    </div>

    <div class="tag_index">

      <div class="title">
        <h2>タグで検索</h2>
      </div>

      <% @tag_list.each do |tag_list| %>
        <!--記事についているタグが「０」の場合は非表示-->
        <% if tag_list.articles.count > 0 %>
          <label>
            <i class="fa-solid fa-tag"></i>
              <%= link_to tag_list.tag_name,  search_tag_article_path(tag_list.id) %>
              <%="(#{tag_list.articles.count})" %>
            </label>
        <% end %>
      <% end %>

      <div class="paginate">
        <%= paginate @tag_list %>
      </div>

    </div>


  </div>
</div>
