<header class="header">
  <h1 class="logo">
    <%= link_to root_path do %>
      <p><%= image_tag "logo.png", :size => "80x80" %></p>
    <% end %>
  </h1>

  <!--ログインユーザー名表示-->
  <% if member_signed_in? %>
    <div class="user_name">
      <p>ようこそ、<%= current_member.name %>さん</p>
    </div>
  <% end %>

  <nav class="nav">
    <!--検索フォーム-->
    <div clsaa="search">
      <div class="search_form">
        <%= search_form_for @q, url: search_articles_path do |f| %>
          <%= f.label :title_cont, class:"search_icon" do %>
            <i class="fa-solid fa-magnifying-glass"></i>
          <% end %>
          <%= f.search_field :title_cont, :placeholder => "投稿名" %>
          <%= f.submit "検索", class:"button" %>
        <% end %>
      </div>
    </div>

    <ul>
      <li><%= link_to "サイトについて", about_path %></li>
      <!--ログイン前-->
      <% unless member_signed_in? %>
        <li><%= link_to 'ゲストログイン', members_guest_sign_in_path, method: :post %></li>
        <li><%= link_to "ログイン", new_member_session_path %></li>
        <li><%= link_to "新規登録", new_member_registration_path %></li>
      <!--ログイン後-->
      <% else %>
        <li><%= link_to "メンバー", members_path %></li>
        <li><%= link_to "投稿一覧", articles_path %></li>
        <li><%= link_to "マイページ", member_path(current_member.id) %></li>
        <li><%= link_to "ログアウト", destroy_member_session_path, method: :delete %></li>
        <li><%= button_to "投稿する", new_article_path,  method: :get, class:"button" %></li>
      <% end %>
    </ul>
  </nav>
</header>