<!DOCTYPE html>
<html>

  <head>
    <title>WanPal</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!--google font-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <!--google font - SawarabiGothic-->
    <link href="https://fonts.googleapis.com/css2?family=Sawarabi+Gothic&display=swap" rel="stylesheet">
    <!--google font - MochiyPopOne-->
    <link href="https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap" rel="stylesheet">

    <!--fontawesome-->
    <script src="https://kit.fontawesome.com/e9e6566511.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <!--ヘッダー-->
  <%= render 'layouts/header' %>

  <body>
    <div class="wrapper">
      <!--通知-->
      <%= render 'layouts/notice' %>
      <%= yield %>
    </div>
  </body>

  <!--フッター-->
  <%= render 'layouts/footer' %>

  <!--ハンバーガーメニューJS-->
  <script>
    $(function () {
      $('#js-hamburger-menu, .navigation__link').on('click', function () {
        $('.navigation').slideToggle(500)
        $('.hamburger-menu').toggleClass('hamburger-menu--open')
      });
    });
  </script>

</html>
