<!DOCTYPE html>
<html>
  <head>
    <title>WanPal</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <header class="header">
    <h1 class="logo">
      <%= link_to "WanPal", root_path %>
    </h1>
    <nav class="nav">
      <ul>
        <li><%= link_to "サイトについて", about_path %></li>
        <li><%= link_to "メンバー", members_path %></li>
        <!--ログイン前-->
        <% unless member_signed_in? %>
        <li>ゲストログイン</li>
        <li><%= link_to "ログイン", new_member_session_path %></li>
        <li><%= link_to "新規登録", new_member_registration_path %></li>
        <!--ログイン後-->
        <% else %>
        <li><%= link_to "マイページ",  member_path(current_member.id) %></li>
        <li><%= link_to "ログアウト",  destroy_member_session_path %></li>
        <% end %>
      </ul>
    </nav>
  </header>

  <body>
    <%= yield %>
  </body>
</html>
