<div class="container">

  <div class="member_index">
    <% @members.each do |member| %>
    <div class="member_list">
      <% if current_member.admin  %>
        <%#= image_tag member.get_profile_image, :size => "50x50" %>
        <%= member.name %>
        <%= member.introduction %>
        <div class= "follow_button">
          <% unless member.id == current_member.id %>
            <!--未フォロー・フォロー条件分岐-->
            <% if current_member.following?(member) %>
              <%= button_to "フォロー中", member_relationships_path(member.id), method: :delete %>
            <% else %>
              <%= button_to "フォロー", member_relationships_path(member.id), method: :post %>
            <% end %>
          <% end %>
        </div>
        <div class="out_button">
          <% if member.is_member == false %>
            <%= button_to "管理者退会", out_member_path(member), method: :patch %>
          <% else %>
             <%= button_to "有効にする", out_member_path(member), method: :patch %>
          <% end %>
        </div>
      <% else %>
        <% unless member.is_member == true %>
          <%#= image_tag member.get_profile_image, :size => "50x50" %>
          <%= member.name %>
          <%= member.introduction %>
          <div class= "follow_button">
            <% unless member.id == current_member.id %>
              <!--未フォロー・フォロー条件分岐-->
              <% if current_member.following?(member) %>
                <%= button_to "フォロー中", member_relationships_path(member.id), method: :delete %>
              <% else %>
                <%= button_to "フォロー", member_relationships_path(member.id), method: :post %>
              <% end %>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
  <% end %>
  </div>

</div>
