<div class="container">
  <div class="member_show">

    <div class="member_profile">
      <div class="left">
        <div class="image">
          <p><%= image_tag @member.get_profile_image, :size => "200x200" %></p>
        </div>
      </div>
      <div class="right">
        <div class="name">
          <%= @member.name %>
        </div>
        <div class="member_introduction">
          <%= @member.introduction %>
        </div>
      </div>
    </div>

    <div class="member_status">
      <div class="follow_link">
        <%= link_to member_followings_path(@member) do %>
          <p class="follow">フォロー: <%= @member.followings.count %></p>
        <% end %>
        <%= link_to  member_followeds_path(@member) do %>
          <p class="follower">フォロワー: <%= @member.followeds.count %></p>
        <% end %>
      </div>
      <div class="profile_button">
        <!--ログインユーザー認証-->
        <% if current_member == @member %>
          <div class="edit_button">
            <%= button_to "プロフィール編集", edit_member_path, method: :get, class: "button" %>
          </div>
          <% else %>
            <!--フォローボタン-->
            <div id="ajax_follow_<%= @member.id %>">
              <%= render "relationships/follow_button", member: @member %>
            </div>
        <% end %>
      </div>
    </div>

    <div class="article_index">
      <div class="title">
        <h4><%= @member.name %>さんの投稿一覧</h4>
      </div>
      <div class="flex_outer">
        <% @articles.each do |article| %>
          <%= link_to article_path(article.id) do %>
            <div class="card">
              <p class="image"><%= image_tag article.get_article_image, :size => "250x250" %></p>
              <div class="caption">
                <p class="title"><%= article.title.truncate(17, omission: '..') %></p>
                <p>投稿者:<%= article.member.name %></p>
                <p>日時:<%= article.created_at.strftime('%Y/%m/%d') %></p>
                <div class="row">
                  <p>
                    <span><i class="fa-regular fa-comments"></i></span>
                    <%= article.comments.count %>
                  </p>
                  <p><span><i class="fa-solid fa-heart"></i></span>
                    <%= article.favorites.count %>
                  </p>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="paginate">
      <%= paginate @articles %>
    </div>

  </div>
</div>
