<div class="container">

  <div class="member_status">
    <div class="left">
      <div class="member_image">
        <p><%= image_tag @member.get_profile_image, :size => "50x50" %></p>
      </div>
    </div>
    <div class="right">
      <div class="member_name">
        <%= @member.name %>
      </div>
      <div class="member_introduction">
        <%= @member.introduction %>
      </div>
    </div>
  </div>

  <div class="status_link">
    <div class="left">
      <div class="row">
        <p class="follow"></p>
        <p class="follower"></p>
      </div>
    </div>
    <div class="right">
      <div class="row">
        <% if current_member == @member %>
          <div class="profile_button">
            <%= button_to "プロフィール編集", edit_member_path, method: :get %>
          </div>
          <% else current_member != @member %>
          <div class="follow_button">
            <% if current_member.following?(@member) %>
              <%= button_to "フォロー中", member_relationships_path(@member.id), method: :delete %>
            <% else %>
              <%= button_to "フォロー", member_relationships_path(@member.id), method: :post %>
            <% end %>
          </div>
        <% end %>

      </div>
    </div>
  </div>

</div>
